<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
	http://www.springframework.org/schema/beans/spring-beans-2.5.xsd">

    <bean id="webAppRootResource" class="com.doopp.gauss.server.undertow.WebAppRoot">
        <property name="filePath" value="config/spring/spring-undertow.xml" />
    </bean>

    <bean id="undertowServer" class="com.doopp.gauss.server.undertow.UndertowServer">
        <property name="port" value="8080" />
        <property name="webAppName" value="Spring-Undertow" />
        <property name="webAppRoot" ref="webAppRootResource" />
    </bean>

</beans>