*{margin:0;padding:0;text-align:center;vertical-align:middle;}
html, body{}
body{background-color:#eeeeee;font-size:14px;color:#5d656b;}
a, button, input{outline:0 none;text-decoration:none;-webkit-tap-highlight-color:rgba(0,0,0,0);}
input {box-sizing: border-box;}

.radius-3{-webkit-border-radius:3px;-khtml-border-radius:3px;-moz-border-radius:3px;border-radius:3px;}

.head-fixed {position:fixed;left:0px;top:0px;width:100%;display:block;height:44px;background-color:#dddddd;}
.head-fixed a {height:44px;line-height:44px;left:1px;display:inline-block;width:44px;position:absolute;color:#5d656b;}
.head-fixed h2 {font-size:16px;font-weight:400;height:44px;line-height:44px;text-align:center;}

.bottom-fixed {position:fixed;left:0px;bottom:0px;width:100%;display:block;}
.tab-bar {width:100%;border-top:1px solid #5d656b;background-color:#ffffff;}
.tab-bar a {height:44px;width:19%;display:inline-block;}
.tab-bar a span, .tab-bar a p {position:relative;font-size:22px;display:block;color:#5d656b;top:5px;}
.tab-bar a span {font-size:22px;}
.tab-bar a p {font-size:10px;}

.scroll-wrap{position:relative;margin:50px auto;font-size:16px;max-width:640px;min-width:320px;padding-bottom:20px;}
.form-main{padding:1px 15px;}
.form-item{position:relative;display:block;margin:5px 0;text-align:left;}
.text-item{font-size:12px;text-align:right;margin-top:4px;}

.text-input {background:#fff none repeat scroll 0 0;border:1px solid #d7d7d7;color: #252525;font-size: 16px;height:44px;line-height:normal;padding:0 0 0 10px;width:100%;text-align:left;}
.input-mobile {width:52%;}

.submit-btn, .button-btn, .disable-btn {font-size: 16px;height:44px;line-height:44px;color:#ffffff;text-align:center;display:inline-block;border:0px;}
.submit-btn {background:#F26459 none repeat scroll 0 0;}
.button-btn {background:#1195C5 none repeat scroll 0 0;}
.disable-btn {background:#cccccc none repeat scroll 0 0;}

.upload-frame {display:inline;border:0;width:100%;height:200px;border:1px solid #ccc;}