<!DOCTYPE html>
<html lang="zh-cn">

<head>
    <title>You draw, I guess</title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta charset="utf-8" />
    <meta content="yes" name="apple-mobile-web-app-capable"/>
    <meta content="yes" name="apple-touch-fullscreen"/>
    <meta content="telephone=no" name="format-detection"/>
    <meta content="black" name="apple-mobile-web-app-status-bar-style">
    <meta content="#ffffff" name="msapplication-TileColor" />
    <meta http-equiv="Expires" content="-1">
    <meta http-equiv="Cache-Control" content="no-store">
    <meta http-equiv="Pragma" content="no-cache">
    <meta content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0" name="viewport" />
    <script src="jquery-3.2.1.min.js"></script>
    <script src="pixi-4.3.5.min.js"></script>
    <script src="socket.io.js"></script>
    <script src="pixi-demo2.js"></script>
    <link rel="stylesheet" type="text/css" href="pixi-demo2.css">
</head>

<body>

<div class="scroll-wrap">

    <div class="form-main">
        <form action="/client/mobileLoginSbt" method="post">

            <div class="text-item" style="text-align:center;margin:0 auto 15px;">
                <br>
                登录惠享分期 。
            </div>

            <div class="form-item">
                <input type="hidden" value="<%= openId %>" name="openId">
                <input class="text-input radius-3" type="tel" name="mobileNumber" value="<%- mobile %>" autocomplete="off" placeholder="请输入手机号" validation="/number:11:请输入11位长的手机号码/" />
            </div>

            <div class="form-item">
                <input class="text-input radius-3" type="password" name="password" autocomplete="off" placeholder="请输入密码" validation="/!empty:密码不能为空/" />
            </div>

            <div class="form-item" style="margin-top:20px;">
                <button type="submit" id="submit-btn" class="disable-btn radius-3" style="width:100%;">登录</button>
            </div>
        </form>
    </div>
</div>

<div class="head-fixed">
    <a href="mregist1.html"><span class="kt-icons">&#xf0c7;</span></a>
    <h2>狼人杀</h2>
</div>

</body>

</html>